*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
        display: flex;
        justify-content: center;
        align-items: center;
         min-height: 100vh;
    }

    body {
      background: #000;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }
.title
{
  position: absolute;
  display: inline-block;
  top: 100px;
}
.title h2
{
  color: rgb(28, 252, 16);
  font-size: 4em;
}
.title h3
{
  color: rgb(4, 241, 154);
  font-size: 3em;
  text-align: center;
}
    .swiper {
      width: 500px;
      height: 500px;
      -webkit-box-reflect: below 17px linear-gradient(transparent 50%,#0009);
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
    }

    .swiper-slide img {
      width: 500px;
      height: 500px;
      object-fit: cover;
      border: 10px solid rgb(8, 250, 8);
    }